#animation{
    height: 300px;

}




.card-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card{
    margin-top: 40px;
    height: 30rem;
    width: 30rem;
    border: solid linen 2px;
    margin-top: 30px;
    margin: auto;   
    padding: auto;
}

.btn{
    display: flex;
    text-align: right;
    margin: auto;
    width: 50%;
    padding: auto;
    border-radius: 20px;
}


.page-footer{
    border: solid #e3f2fd 2px;
    margin-top: 30px;
    background-color: #e3f2fd;
    border: silver solid 2px;
    
}
#btn{
    margin-left: 0px;
    width: 50%;
}

.btn:hover{
    transition: all 10ms;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);

}

ion-icon:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);

}
